# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[ViPhyDB]
hostname: localhost
username: horizon
password: nottingham
dbname: ViPhyDB

[DatawareDB]
hostname: localhost
username: horizon
password: nottingham
dbname: ViPhyDB